html, body{
    margin: 0px, 15px, 10px;
    padding: 0;
}

body {
    background: #000006;
    overflow-x: hidden;
    line-height: 0;
    color: #eee;
}

.center{
    margin: auto;
    width: 80%;
    padding: 10px;
}

.header{
    text-align: center;
}

.line-chart{
      background-color: #ffff;
      margin: 0 auto;
      display: block;
}

.line{
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.area{
  fill: lightsteelblue;
}

.footer{
    text-align: right;
    font-size: small;
    font-style: italic;
}

.text-button:hover, .text-button:focus {
    color: lightskyblue;
    transition: color 125ms ease-in;
    -webkit-transition: color 125ms ease-in;
    cursor: default;
}

.text-button:active {
    color: #fff;
    transition: color 25ms ease-in;
    -webkit-transition: color 25ms ease-in;
}

#wholepage{
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
